.hello {
    margin-left: 50px;
}

.hello1 {
    margin-right: 10px;
    font-weight: 500;

}

.hello2 {
    padding: 4px;

}

.hello3 {
    background-color: rgb(94, 235, 94);
    font-weight: 500;
    height: 35px;
    width: 90px;
    border-radius: 10px;
    border: none;


}

// .navbarScrollingDropdown{
//     color:white
// }
.nav-item {
    margin-right: 75%;

    a {
        color: white !important;
    }

    a:hover {
        color: white !important;

    }

    .dropdown-menu {
        a {
            color: black !important;
        }

        // a:hover{
        //     color:white;
        // }
    }
}


#home-edit {
    margin-top: 7px;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}